conversation_flow.json
[
    {
        "id": "388576db.410e1a",
        "type": "watson-conversation-v1",
        "z": "daa52f43.2dec2",
        "name": "",
        "workspaceid": "",
        "multiuser": true,
        "context": true,
        "x": 384.5000228881836,
        "y": 104.4000391960144,
        "wires": [
            [
                "d7fdcdf6.cc248",
                "ba77ff8c.5c6ee"
            ]
        ]
    },
    {
        "id": "6dec68d8.c15708",
        "type": "function",
        "z": "daa52f43.2dec2",
        "name": "text output",
        "func": "msg.payload = {\n    type: 'text',\n    text: msg.payload.output.text[0],\n    user: msg.user,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 481.50001525878906,
        "y": 316.6001138687134,
        "wires": [
            [
                "7f126c10.8667e4",
                "e6a72289.b0465"
            ]
        ]
    },
    {
        "id": "37a463f7.d08fcc",
        "type": "debug",
        "z": "daa52f43.2dec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 305.5000343322754,
        "y": 46.40002918243408,
        "wires": []
    },
    {
        "id": "d7fdcdf6.cc248",
        "type": "debug",
        "z": "daa52f43.2dec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 617.5000686645508,
        "y": 103.80005264282227,
        "wires": []
    },
    {
        "id": "81128471.0ec218",
        "type": "weather_insights",
        "z": "daa52f43.2dec2",
        "name": "10-day forecasts",
        "host": "",
        "service": "/forecast/daily/10day.json",
        "geocode": "0,0",
        "units": "m",
        "language": "zh-TW",
        "x": 340.2727584838867,
        "y": 424.9091682434082,
        "wires": [
            [
                "c9c0cd48.f2bea"
            ]
        ]
    },
    {
        "id": "c9c0cd48.f2bea",
        "type": "function",
        "z": "daa52f43.2dec2",
        "name": "get tomorrow",
        "func": "msg.payload = msg.forecasts[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 509.36365509033203,
        "y": 425.090970993042,
        "wires": [
            [
                "16711f1c.417ac1"
            ]
        ]
    },
    {
        "id": "c5a0da7e.02c6f8",
        "type": "weather_insights",
        "z": "daa52f43.2dec2",
        "name": "current observations",
        "host": "",
        "service": "/observations.json",
        "geocode": "0,0",
        "units": "m",
        "language": "zh-TW",
        "x": 357.8182144165039,
        "y": 463.72730827331543,
        "wires": [
            [
                "b4ae6611.dcf3c8"
            ]
        ]
    },
    {
        "id": "b4ae6611.dcf3c8",
        "type": "function",
        "z": "daa52f43.2dec2",
        "name": "observation",
        "func": "msg.payload = msg.observation;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 543.1817932128906,
        "y": 465.09095668792725,
        "wires": [
            [
                "bf7cdef4.8bca7"
            ]
        ]
    },
    {
        "id": "bf7cdef4.8bca7",
        "type": "debug",
        "z": "daa52f43.2dec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 703.8182067871094,
        "y": 465.2727928161621,
        "wires": []
    },
    {
        "id": "f867d143.0dec5",
        "type": "inject",
        "z": "daa52f43.2dec2",
        "name": "",
        "topic": "",
        "payload": "25.033493,121.564101",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 139.90912628173828,
        "y": 463.27274322509766,
        "wires": [
            [
                "c5a0da7e.02c6f8"
            ]
        ]
    },
    {
        "id": "da1e4197.5c0a6",
        "type": "inject",
        "z": "daa52f43.2dec2",
        "name": "",
        "topic": "",
        "payload": "25.033493,121.564101",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140.36365509033203,
        "y": 425.2727680206299,
        "wires": [
            [
                "81128471.0ec218"
            ]
        ]
    },
    {
        "id": "16711f1c.417ac1",
        "type": "debug",
        "z": "daa52f43.2dec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670.2726955413818,
        "y": 424.90914726257324,
        "wires": []
    },
    {
        "id": "7f126c10.8667e4",
        "type": "debug",
        "z": "daa52f43.2dec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 613.5000190734863,
        "y": 365.20001888275146,
        "wires": []
    },
    {
        "id": "309c61ff.e294be",
        "type": "http in",
        "z": "daa52f43.2dec2",
        "name": "",
        "url": "/message",
        "method": "post",
        "swaggerDoc": "",
        "x": 98.10001373291016,
        "y": 46.800031661987305,
        "wires": [
            [
                "6ab1dd45.6a39d4",
                "37a463f7.d08fcc"
            ]
        ]
    },
    {
        "id": "e6a72289.b0465",
        "type": "http response",
        "z": "daa52f43.2dec2",
        "name": "",
        "x": 657.1000671386719,
        "y": 317.20001697540283,
        "wires": []
    },
    {
        "id": "6ab1dd45.6a39d4",
        "type": "function",
        "z": "daa52f43.2dec2",
        "name": "conversation input",
        "func": "var message = JSON.parse(msg.req.body);\nmsg.user = message.sender;\nmsg.payload = message.data.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 162.10001373291016,
        "y": 104.60000419616699,
        "wires": [
            [
                "388576db.410e1a"
            ]
        ]
    },
    {
        "id": "ba77ff8c.5c6ee",
        "type": "switch",
        "z": "daa52f43.2dec2",
        "name": "",
        "property": "payload.intents[0].intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "weather",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 127.10000991821289,
        "y": 194.0000057220459,
        "wires": [
            [
                "8f6d79d1.5cc398"
            ],
            [
                "6dec68d8.c15708"
            ]
        ]
    },
    {
        "id": "8f6d79d1.5cc398",
        "type": "weather_insights",
        "z": "daa52f43.2dec2",
        "name": "current weather",
        "host": "twcservice.mybluemix.net",
        "service": "/observations.json",
        "geocode": "25.033493,121.564101",
        "units": "m",
        "language": "zh-TW",
        "x": 279.1000061035156,
        "y": 188.0000057220459,
        "wires": [
            [
                "68ad7053.ec33d",
                "d613be09.c03a8"
            ]
        ]
    },
    {
        "id": "68ad7053.ec33d",
        "type": "function",
        "z": "daa52f43.2dec2",
        "name": "weather output",
        "func": "var weather = msg.observation;\nmsg.payload = {\n    type: 'weather',\n    user: msg.user,\n    location: weather.obs_name,\n    temp: weather.temp,\n    disc: weather.wx_phrase,\n    image: 'https://raw.githubusercontent.com/IBM-Bluemix/weather-company-data-demo/master/public/images/weathericons/icon'+weather.wx_icon+'.png'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 483.1000671386719,
        "y": 187.8000612258911,
        "wires": [
            [
                "33512052.1e603",
                "8a4c0d52.3fcad"
            ]
        ]
    },
    {
        "id": "33512052.1e603",
        "type": "http response",
        "z": "daa52f43.2dec2",
        "name": "",
        "x": 659.1001167297363,
        "y": 188.4000368118286,
        "wires": []
    },
    {
        "id": "8a4c0d52.3fcad",
        "type": "debug",
        "z": "daa52f43.2dec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 613.1001205444336,
        "y": 240.40001392364502,
        "wires": []
    },
    {
        "id": "d613be09.c03a8",
        "type": "debug",
        "z": "daa52f43.2dec2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 399.10009002685547,
        "y": 243.80003833770752,
        "wires": []
    }
]